/* ===================================== */
/* Fonts: */
/* font-family: "Poiret One", sans-serif; */
/* font-family: "Spirax", sans-serif; */

/* Colour:
the red: #740407 */

/* ===================================== */


.background-image {
    position: absolute;
    width: 100%;
    /* top: 0;
    left: 0; */
    z-index: -1;
}
.background-image img {
    width: 100%;
}

.navbar {
    background-color: black;
    color: white;
    font-family: "Spirax", sans-serif;
}
.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav-links{
    list-style: none;
}
.navbar .nav-links li {
    margin: 0 2rem; 
}
.navbar .nav-links a {
    color: white;
    font-size: 2.5rem;
    text-decoration: none;
}

.content {
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 7rem;
    color: #740407;
    font-family: "Spirax", sans-serif;
}

h2 {
    font-size: 1.2rem;
    font-family: "Poiret One", sans-serif;
    color: rgb(223, 218, 218);
    background-color: #740407;
    padding: 1rem;
}

.prices-and-hours {
    background-color: black;
    color: white;
    font-family: "Poiret One", sans-serif;

    display: flex;
    flex-direction: column;
    padding: 1rem 3rem;
}

.item-description {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}